@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*------------------------General*/

.uppercase {
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #555555 ;
}

body,
p {
    width: 100%;
    color: #555555;
    margin: 0, auto;
    font-family: "Nunito", sans-serif;
}

/*--------------------------Navbar*/

/*Also for logo in footer */
.sitelogo {
    height: 120px;
    margin-left: 40px;
    margin-top: 0;
    
}

.navbar {
    padding: 10px;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
    background: #FBF7F0;
    border-bottom: 1px solid #555555;
}

.navbar-nav li a span {
    color: #555555;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.navbar-nav li a span:hover {
    color: #799e82;
}



/*--------------------------Landing Page*/
.hiking-quote {
    padding:20px;
    font-size: 32px;
}

.about-section {
    background-color: #CDC9C3 ;
    padding: 20px;
}

.about-image img{
    vertical-align: middle;
    padding: 25px;
    height: 100%;
    width: 100%;

}

.about-text p{
    padding-right: 50px;
    padding-left: 50px;
   
}

.about-text a {
    color: #555555;
    font-size: 1.4rem;
}





/*--------------------------Footer*/

footer {
    border-top: 1px solid #333333;
    background-color: #555555;
    height: 200px;
    margin-top: 0px;
    width: 100%;
    
}

.footer-logo {
    margin: 0;
    margin-right: 10px;
}
.footer-heading, .footer-heading a {
    color: #FBF7F0 ;
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0px;
}

.social-list-col  {
    padding-left: 0;
    padding-right: 0;
}
    
.social-list-col ul li{
    background-color: #555555;
}
.social-list li {
    border: none;
}

.social-list li a i {
    font-size: 30px;
    color: #CDC9C3 ;
    margin-bottom: 5px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-list li a i:hover {
    color: #799e82 ;
}




/* 
Bootstrap breakpoints:

XS devices (portrait smartphone view) < 576px

SM device (landscape smartphone view) 576px and up
@media (min-width:576px){}

MD device (tablet) 768px and up
@media (min-width:576px) {}

LG device (desktop) 992px and up
@media (min-width:992px){}

XL devices (large desktop) 1200px and up
@media (min width:1200px){}
*/