@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*--General - to be used across all pages--*/
html,
body
 {
    height: 100%;
    width: 100%;
    margin: 0, auto;
    font-family: "Nunito", sans-serif;
    background: #D9E4DD ;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}

hr {
    border: 1px solid #3f3f3c;
    width: 83%;
}

@media screen and (min-width:992px){
    hr{
        width: 100%;
    }         
}

/*--Header/ Navbar--*/
.navbar {  
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 1px;
    background: #FBF7F0;
    border-bottom: 1px solid #3f3f3c;
}

.sitelogo {
     max-width: 7em;
     max-height: auto;
}

.navbar-brand .sitelogo {
    margin-left: 1em;
}

a.nav-link.hvr-grow {
    color: #799e82;
}

.nav-item {
    margin-left: auto;   
}

/*--Footer--*/
footer {
    border-top: 1px solid #333333;
    background-color: #555555;
    height: auto;
    padding-top: 1rem;
    margin-top: 0;
    width: 100%;
    padding-bottom: 0.5rem;
}

.footer-logo {
    margin: 0;
    
}

/*--Styles anchor tags in Footer--*/
.footer-contact-us, .footer-contact-us a {
    color: #FBF7F0 ;
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
    text-decoration: none;
}

.footer-contact-us a {
     transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.footer-contact-us a:hover, .footer-address a:hover {
    color: #799e82 ;
}
.footer-address {
    color: #FBF7F0;
}

.footer-address a{
    text-decoration: none;
    color: #FBF7F0;
}

.social-list-col  {
    color: #ffffff;
   padding-top: 1rem;
   padding-bottom: 0;
   height: 5rem;
}

.social-list-col ul li{
    background-color: #555555;
}
.social-list li {
    border: none;
}

.social-list li a i {
    font-size: 1.5rem;
    border: none;
    color: #CDC9C3 ;
    padding-bottom: 1rem;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-list li a i:hover {
    color: #799e82 ;
}

.footer-contact-us-link {
    padding-top: 0;
    position: relative;
}

/*--Hero-image with Jumbotron--*/
.subscription-container {
    height: 70vh;
    width: 100%;
    padding: 0;
    background: url("../images/index.html-images/hero-image1.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;  
}



.subscription-jumbotron {
    padding-bottom: 1rem;
    background-color: rgba(121, 158, 130, 0.5);
    color: #FBF7F0;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
     
a.nav-link.hvr-grow:hover {
    color: #799e82 ;
}
           
.subscribe-btn {
    background-color: #FBF7F0  ;
    color: #799e82 ;
    border-color: #3f3f3c ;
    font-weight: 600;
    display: inline-block;   
    transition: all 0.5s;
}

.subscribe-btn:hover{
    background-color: #799e82  ;
    color: #FBF7F0 ;
}

/*-- Subscribe Modal--*/
.modal.content {
    align-content: center;
    color: #CDC9C3 ;
}

.modal-headings {
    font-size: 1rem;
}

/*--Quote and About section*/
.hiking-quote {
    padding:20px;
    font-size: 2rem;
}

.quote-section {
    background-color: #799e82 ;
    padding: 30px;
    color: #555555;
}

.about-image img{
    vertical-align: middle;
    padding: 25px;  
}

@media screen and (min-width: 1200px){
    .about-image img{
        max-height: 50vh;
    }
}

.about-text p, .about-heading{
    padding-right: 50px;
    padding-left: 50px;
    color: #555555;
}

/*--Styles the anchor tags on home page--*/
.about-text a {
    color: #555555;
    text-decoration: none;
    font-size: 1.4rem;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.about-text a:hover{
    color: #799e82 ; 
}

/*--Gallery--*/
.gallery-heading-container {
    background-color: #D9E4DD ;
    padding: 20px 50px 50px 50px;   
}

@media screen and (min-width:992px){
    .gallery-container{
        width: 75%;
        margin: 0 auto;
    }
}

.img-thumbnail {
    background-color: #FBF7F0 ;
}

.gallery-h2, .gallery-heading {
    padding: 20px 0 20px 0;
    color: #555555 ;
}

/*--Contact Page--*/
.contact-form-heading-container {
    background: url("../images/index.html-images/image1.jpg") no-repeat top center;
    background-size: auto;
    width: 100%;
    height: 50vh;
}

@media only screen and (max-width: 576px){
    .contact-form-heading-container {
        background-size: cover;
    }
}
.contact-form {
    border: 1px solid #555555;
    padding: 1rem;
    background-color: rgba(121, 158, 130, 0.5) ;
}

.contact-form-heading {
    color: #FBF7F0;
}

.input-contact-form {
    background-color: #FBF7F0;
    border: 1px solid #3f3f3c;
}

/*----------- Media Queries for responsiveness*/




/* 

Bootstrap breakpoints:

XS devices (portrait smartphone view) < 576px

SM device (landscape smartphone view) 576px and up
@media (min-width:576px){}

MD device (tablet) 768px and up
@media (min-width:576px) {}

LG device (desktop) 992px and up
@media (min-width:992px){}

XL devices (large desktop) 1200px and up
@media (min width:1200px){}
*/