@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*----------------------------------General - to be used across all pages*/

html,
body
 {
    height: 100%;
    width: 100%;
    color: #555555;
    margin: 0, auto;
    font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}


hr {
    border: 1px solid #3f3f3c;
    width: 83%;
    
}

/*-------------------------------------Header/ Navbar*/

/*Also styled for logo in footer */

.navbar {
    
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 1px;
    background: #FBF7F0;
    border-bottom: 1px solid #3f3f3c;
}


.sitelogo {
     max-width: 7em;
     max-height: auto;
}

.navbar-brand .sitelogo {
    margin-left: 1em;
}


a.nav-link.hvr-grow {
    color: #799e82;
}





/*---------------------------------------Footer*/

footer {
    border-top: 1px solid #333333;
    background-color: #555555;
    height: auto;
    padding-top: 1rem;
    margin-top: 0px;
    width: 100%;
        
}

.footer-logo {
    margin: 0;
    
}

.footer-contact-us, .footer-contact-us a {
    color: #FBF7F0 ;
    font-size: 1.2em;
    height: 3em;
    font-weight: 700;
    margin: 0;
    text-decoration: none;
}

.footer-contact-us a {
     transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.footer-contact-us a:hover {
    color: #799e82 ;
}

.social-list-col  {
    color: #ffffff;
   padding-top: 1rem;
   padding-bottom: 0;
   height: 5rem;
   
}

/*come back to */
@media only screen and (max-width: 768px){
    .social-list-col{
        display: contents;
    }

}
    
.social-list-col ul li{
    background-color: #555555;
}
.social-list li {
    border: none;
}

.social-list li a i {
    font-size: 2rem;
    border: none;
    color: #CDC9C3 ;
    padding-bottom: 1rem;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-list li a i:hover {
    color: #799e82 ;
}

.footer-contact-us-link {
    padding-top: 0;
    position: relative;
}
/*-------------------------------------Fixed image background Page with Modal*/

.subscription-container {
    height: 100%;
    width: 100%;
    padding: 0;
    background: url("../images/index.html-images/image1.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;  
}
   


.subscription-jumbotron {
    padding-bottom: 1rem;
    color: #FBF7F0;
    background-color: rgba(121, 158, 130, 0.5);
    align-self: center;
    
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

a.nav-link.hvr-grow:hover {
    color: #799e82 ;
}
           



.modal.content {
    align-content: center;
    color: #CDC9C3 ;
}

.modal-headings {
    font-size: 1rem;
}

.subscribe-btn {
    background-color: #FBF7F0  ;
    color: #799e82 ;
    border-color: #3f3f3c ;
    font-weight: 600;
    display: inline-block;
    
    transition: all 0.5s;
}

.subscribe-btn:hover{
    background-color: #799e82  ;
    color: #FBF7F0 ;
}

/*------------------------------------------Landing Page*/
.hiking-quote {
    padding:20px;
    font-size: 2rem;
   
}

.about-section {
    background-color: #CDC9C3 ;
    padding: 30px;
   
    
}

.about-image img{
    vertical-align: middle;
    padding: 25px;
}

.about-text p{
    padding-right: 50px;
    padding-left: 50px;
   
}

.about-text a {
    color: #555555;
    text-decoration: none;
    font-size: 1.4rem;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.about-text a:hover{
    color: #799e82 ; 
}

/*------------------------------------------Gallery*/
.gallery-container {
    background-color: #D9E4DD ;
    padding: 20px 50px 50px 50px;
    
}


.img-thumbnail {
    background-color: #FBF7F0 ;
}

.gallery-h2, .gallery-heading {
    padding: 20px 0 20px 0;
}

/*-----------------------------------------Contact Page*/

.contact-heading-container {
    background: url("../images/contact.html-images/image1.jpg") no-repeat top center;
    background-size: cover;
    height: auto%;
    
}

.contact-form {
    border: 1px solid #555555;
    padding: 1rem;
    background-color: rgba(121, 158, 130, 0.5) ;
}

.contact-heading {
    color: #FBF7F0  ;
}
.text-muted {
    color: #FBF7F0!important;
    
}

.input-contact-form {
    background-color: #FBF7F0;
    border: 1px solid #3f3f3c;
}


/* 

Bootstrap breakpoints:

XS devices (portrait smartphone view) < 576px

SM device (landscape smartphone view) 576px and up
@media (min-width:576px){}

MD device (tablet) 768px and up
@media (min-width:576px) {}

LG device (desktop) 992px and up
@media (min-width:992px){}

XL devices (large desktop) 1200px and up
@media (min width:1200px){}
*/